=head1 NAME

 Imgur::API::Endpoint::[% name %]

=head1 DESCRIPTION

 Access to the imgur [% name %] API Endpoint. 

 See: https://api.imgur.com/endpoints/[% name | lower %]

=cut

=head1 METHODS
 
[% FOREACH method IN methods -%]
=head2 [% method.sub %]

 [% method.description %]

B<Parameters>
[% FOREACH p IN method.params.keys %]
=item *
 C<[% p %]> I<[% IF method.params.$p.required %]required[% ELSE %]optional[% END %]>

 [% method.params.$p.desc %]
[% END %]
=cut

[% END -%]

